<div class="row">
    <div class="col-xs-12">
        <img src="{{ recipe.imagePath }}" alt="{{ recipe.description }}" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" style="cursor: pointer" (click)="onAddToShoppingList()">To Shopping
                    List</button>

                <div class="button-group" appDropdown *ngIf="IsOwning">
                    <button type="button" class="btn btn-primary dropdown-toggle">Manage <span
                            class="caret"></span></button>

                    <ol class="dropdown-menu">
                        <li><a style="cursor: pointer" routerLink="edit">Edit Recipe</a></li>
                        <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Delete Recipe</a></li>
                    </ol>
                </div>
            </div>
        </h1>
    </div>
</div>

<div class="pull-right">
    Author: {{ recipe.createdBy | resolveAuthor | async }}
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.amount }} {{ ingredient.metric }} {{ ingredient.name }}</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>